.button{
    padding: 12px 18px;
    border-radius: 0.5rem;
    align-items: center;
    font-weight: 700;
}
.button-primary{
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid #1c1c1c;
    cursor: pointer;
}

.button-secondary{
    background-color: #fff;
    color: #1c1c1c;
    border: 1px solid #1c1c1c;
    cursor: pointer;
}