.detail{
    padding : 20px
}
.header{
    display: flex;
    justify-content: space-between;
    gap : 10px;
    margin-bottom: 10px;
}

.info{
    padding: 20px;
    background-color: #ececec;
    border-radius: 20px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px
}
.info .item{
    display: flex;
    flex-direction: column;
    gap : 8px;

}
.cart{
    margin-top: 20px;
}
.list{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}
.list .item{
    display: flex;
    align-items: center;
    background-color: #ececec;
    border-radius: 20px;
    padding: 12px;
    gap : 16px 
}
.image{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
}
.name ,.price{
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 24px;
}