.Label {
    font:bold;
    gap: 8px ;
    display: flex;
    flex-direction: column;
}
.select {
    padding: 12px 16px;
    border: 1px solid #1c1c1c;
    border-radius: 8px;
    font-size: 1rem;
    appearance: none;
}