
/* Make default ui for all elements */
* {
    margin: 0;
    box-sizing: border-box;
}

button{
    outline:none;
    border: none;
    background :none;
}

p {
    text-wrap: pretty;
    overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
    text-wrap :balance;
    overflow-wrap: break-word;
}
img,video,picture,canvas,svg{
    max-width: 100%;
    display: block;
}
input,button,textarea,select{
    font: inherit;
}