.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height : 100vh;
}

.card {
    border : 1px solid #1c1c1c;
    padding: 32px;
    gap: 4px;
    box-shadow: 0px 0px 4px#1c1c1c;
    border-radius: 4px;
    width: 30%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.form {
    display:  flex;
    flex-direction: column;
    gap : 1.5rem;

}