.Order{
    padding: 0px 10px 0px 10px
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 8px 8px 30px 8px;
}
.Button {
    display: flex;
    gap: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.table{
    width: 95%;
}
.action{
    display: flex;
    gap: 10px;
    padding : 10px
}