.create {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    @media screen and (min-width:768px){
        flex-direction: row;
    }
}
.menu{
    @media screen and (min-width:768px){
        width: 70%;
    }
}
.filter{
    display: flex;
    gap: 16px;
    margin: 16px 0;
    flex-wrap: wrap;
}
.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    padding: 12px;
    margin-top: 10px;
}
.list .item{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 24px;
    gap: 12px;
}
.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.price{
    font-size: 24px;
    font-weight: bold;
}
.bottom{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    padding-bottom : 12px ;
}

.form{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position:sticky;
    top:20px;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    height: auto;
    @media screen and(min-width:768px) {
        width: 30%;
        
    }

    .header{
        display: flex;
        justify-content:space-between ;
        align-content: center;
        margin-bottom: 16px;
        font-weight: bold;
        .title{
            font-size: 24px;
            font-weight: bold;
        }
    }
    .input,.cart{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        border-radius: 16px;
        background-color: #f2f2f2;

    }
    .cart{  
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .quantity{
                display: flex;
                gap: 16px;
                font-weight: bold;
                align-items: center;
                .number{
                    width: 24px;
                    text-align: center;
                }
                .button{
                    width: 20px;
                    height: 20px;
                    padding: 0;
                }
            }
            
        }
    }

}
